$light-yellow: #FFF9E5;
$yellow: #FBEBB5;

.pagination {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 55px clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem) 38px;
    display: flex;
    gap: 38px;
    justify-content: center;

    button {
        border: none;
        padding: 15px 24px;
        border-radius: 10px;
        background-color: $light-yellow;

        &:active {
            background-color: $yellow;
        }
    }
}

