.add-to-cart {
    display: flex;
    gap: 18px;
    margin-top: 12px;

    @media screen and (max-width: 660px) {
        flex-direction: column;
        align-items: start;
    }

    button {
        background-color: transparent;
    }

    .quantity {
        padding: 17px 0;
        border: 1px solid #9F9F9F;
        border-radius: 15px;
        width: 123px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            border: none;
        }

        span {
            font-weight: 500;
        }
    }
    .add {
        padding: 17px 48px;
        border: 1px solid #000;
        border-radius: 15px;
        font-size: clamp(1rem, 0.7151rem + 0.5944vw, 1.25rem);
    }
}